<p>Visit here to activate your account.</p>
<a href="https://battletheshift.herokuapp.com/activate?id=<%= params[:user].id %>&token=<%= params[:user].token %>">Activate</a>
<p>https://battletheshift.herokuapp.com/activate?id=<%= params[:user].id %>&token=<%= params[:user].token %></p>

<p>Your API Key is</p>
<p><%= params[:user].api_key %></p>
